* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    border: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: 'Montserrat',  sans-serif;
}
*:focus {
    outline: none;
}
:root {
    --basic-text-size:  17px;
}
html, body {
    overflow-x: hidden;
    background-color: #F0F4F8;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
main a {
    color: #186FAF;
}
h1 {
    text-align: center;
    font-size: 45px;
}
.exposition {
    display: block;
    font-size: var(--basic-text-size);
    max-width: 1100px;
    width: 90%;
    margin: 20px auto;
}
header {
    height: 70px;
    -webkit-position: fixed;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}
header .logo {
    height: 70px;
    width: auto;
}
header .main-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}
header nav {
    margin-right: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
header nav .main-title {
    display: none;
}
header nav #nav-links {
    display: flex;
    flex-flow: row nowrap;
}
header nav #nav-links a:not(:last-child) {
    margin-right: 20px;
}
header a {
    margin-right: 30px;
    color: #000;
    transition: all 100ms;
    line-height: 1.25;
    font-size: 18px;
}
header a:hover {
    text-decoration: underline;
}
header input[type=checkbox] {
    display: none;
    appearance: none;
    -webkit-appearance: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    background-image: url(/assets/menu.svg);
    height: 50px;
    width: 50px;
    margin-right: 20px;
    transition: 250ms all;
}
main {
    margin-top: 70px;
}
.first-child {
    margin-top: 120px;
}
footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-color: #fff;
}
footer .icon {
    transition: 100ms all;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .icon:hover {
    opacity: .7;
}
footer .icon:active {
    transform: scale(0.95);
}
footer p:not(:last-child), footer a:not(:last-child) {
    margin-right: 20px;
}
footer p {
    color: #243B53;
}
a.button, button {
    height: 40px;
    padding: 0 20px;
    line-height: 1;
    transition: all 100ms;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}
a.button.ghost, button.ghost {
    border: 2px solid #000;
}
a.button.ghost:hover, button.ghost:hover {
    text-decoration: none;
    background-color: #000;
    color: #fff;
}
.hero .content {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
}
.hero .content .words {
    max-width: 400px;
    width: 95%}
.hero .content .words h2 {
    line-height: 1.5;
}
.hero .content h1, .hero .content h2, .hero .content h3 {
    color: #102A43;
    text-align: left;
}
.hero .content img {
    height: 300px;
    width: auto;
}
section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}
section.white {
    background-color: #fff;
}
section#about .content h1 {
    margin-bottom: 50px;
}
section .content {
    max-width: 950px;
    width: 95%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
section .content h1 {
    font-size: 50px;
    color: #243B53;
    margin-bottom: 10px;
}
section .content hr {
    width: 100%;
    height: 1px;
    background-color: #9FB3C8;
}
section .content p.explainer {
    font-size: var(--basic-text-size);
    text-align: center;
    line-height: 1.4;
    color: #243b53;
    font-weight: 300;
    margin-bottom: 20px;
}
section .content p.explainer.left {
    align-self: flex-start;
    text-align: left;
}
section .content .tab-container {
    width: fit-content;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    height: fit-content;
    margin: 20px 0;
}
section .content .tab-container .tab {
    height: 35px;
    border-radius: 20px;
    border: 1px solid #BCCCDC;
    color: #334E68;
    font-size: var(--basic-text-size);
    padding: 0 10px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 20px;
    cursor: pointer;
    background-color: transparent;
    transition: 100ms all;
}
section .content .tab-container .tab:hover {
    background-color: rgba(0, 0, 0, 0.03);
}
section .content .tab-container .tab:active {
    transform: scale(0.97);
    border: 1px solid #9FB3C8;
    color: #243B53;
    background-color: rgba(12, 107, 88, 0.2);
}
section .content .tab-container .tab.selected {
    background-color: #0c6b58;
    color: #fff;
}
section .content .tab-container .tab.selected:active {
    background-color: rgba(12, 107, 88, 0.8);
}
.tile-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 100%}
.tile-container .tile {
    width: 250px;
    height: fit-content;
    min-height: 400px;
    background-color: transparent;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 20px;
    position: relative;
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
}
.tile-container .tile img {
    width: auto;
    height: 100px;
    margin-bottom: 20px;
}
.tile-container .tile img.invert {
    width: 100px;
    height: auto;
}
.tile-container .tile h3 {
    color: #243B53;
    font-size: 22px;
    margin-bottom: 20px;
}
.tile-container .tile p {
    line-height: 25px;
    font-size: var(--basic-text-size);
    color: #334E68;
    text-align: left;
    font-weight: 300;
    margin-bottom: 20px;
}
.tile-container .tile a.cta {
    width: 95%;
    height: 35px;
    border-radius: 6px;
    border: 1px solid #186FAF;
    color: #186FAF;
    font-size: var(--basic-text-size);
    background-color: transparent;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    bottom: 5px;
    transition: 100ms all;
}
.tile-container .tile a.cta:active, .tile-container .tile a.cta:hover {
    background-color: #186FAF;
    color: #fff;
}
.section-flow {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}
.content-section {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 100px 0px;
}
.content-section hr {
    display: none;
}
.content-section h3 {
    font-size: 35px;
    line-height: 1;
    align-self: flex-end;
}
.content-section h3 ~ .date {
    font-size: var(--basic-text-size);
    color: #9FB3C8;
    align-self: flex-end;
    margin-bottom: 10px;
}
.content-section h3 ~ .position {
    font-size: 18px;
    color: #334E68;
    align-self: flex-end;
}
.content-section.switch {
    flex-flow: row-reverse nowrap;
}
.content-section.switch h3 {
    align-self: flex-start;
}
.content-section.switch h3 ~ .date, .content-section.switch h3 ~ .position {
    align-self: flex-start;
}
.content-section.switch ul {
    align-self: flex-start;
}
.content-section.switch ul li {
    text-align: left;
}
.content-section .words {
    align-self: flex-start;
    display: flex;
    flex-flow: column nowrap;
    max-width: 300px;
}
.content-section img {
    max-height: 150px;
    width: auto;
}
.content-section ul {
    align-self: flex-end;
}
.content-section ul li {
    list-style-type: none;
    text-align: right;
    color: #334E68;
    font-weight: 300;
    margin-bottom: 20px;
}
@media all and (max-width: 812px) {
    .hero .content {
    flex-flow: column nowrap;
    align-items: center;
}
.hero .content h1, .hero .content h2, .hero .content h3 {
    text-align: center;
}
.hero .content .words {
    margin-bottom: 50px;
}
.tile-container {
    grid-template-columns: 50% 50%}
}@media all and (max-width: 526px) {
    .tile-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
.tile-container .tile {
    min-height: fit-content;
}
.tile-container .tile p {
    text-align: center;
}
.tile-container .tile a.cta {
    position: static;
}
}figure.polaroid {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    max-width: 285px;
    border: 15px solid white;
    border-radius: 15px;
    transform: rotate(5deg);
    box-shadow: 1px 1px 28px rgba(0, 0, 0, 0.3);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
figure.polaroid img {
    border-radius: 2px;
}
figure.polaroid figcaption {
    width: 100%;
    text-align: center;
    background-color: #fff;
    padding-top: 15px;
}
article {
    --max-width:  500px;
    margin-bottom: 50px;
    margin-top: 120px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
article h1 {
    text-align: center;
    font-family: "Kanit",  sans-serif;
    margin-bottom: 20px;
    max-width: var(--max-width);
    color: #102A43;
    width: 95%;
    line-height: 1.2;
}
article .small-data {
    max-width: var(--max-width);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 95%;
    margin-bottom: 20px;
}
article .small-data span {
    font-size: 15px;
    color: #243B53;
    display: inline-flex;
    align-items: center;
}
article .small-data span::before {
    content: "";
    display: inline-block;
    height: 21px;
    width: 21px;
    background-size: 21px;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 3px;
}
article .small-data .date::before {
    background-image: url(/assets/calendar.svg);
}
article .small-data .person::before {
    background-image: url(/assets/person.svg);
}